@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SUIT';
  src: url(/assets/font/SUIT-SemiBold.ttf) format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SUIT';
  src: url(/assets/font/SUIT-Heavy.ttf) format('truetype');
  font-weight: 900;
  font-style: normal;
}

@layer components {
  .t1 {
    @apply font-suit text-40 font-heavy leading-120;
  }

  .t2 {
    @apply font-suit text-32 font-heavy leading-120;
  }

  .h1h {
    @apply font-suit text-24 font-heavy leading-120;
  }

  .h1s {
    @apply font-suit text-24 font-semibold leading-120;
  }

  .h2h {
    @apply font-suit text-20 font-heavy leading-120;
  }

  .h2s {
    @apply font-suit text-20 font-semibold leading-120;
  }

  .p1h {
    @apply font-suit text-16 font-heavy leading-120;
  }

  .p1s {
    @apply font-suit text-16 font-semibold leading-120;
  }

  .p2h {
    @apply font-suit text-12 font-heavy leading-120;
  }

  .p2s {
    @apply font-suit text-12 font-semibold leading-120;
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}
